@import "debugger.css";
@import "base.css";
@import "nav.css";

body {
    padding-top: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

form, .wg-card {
    h4 {
        font-size: 20px;
        color: black;
        position: relative;
        margin-bottom: 25px;

        &:after {
            position: absolute;
            bottom: -5px;
            left: 0;
            content: '';
            width: 20px;
            height: 2px;
            background: #e0d396;
        }
    }

    strong {
        display: block;
        color: black;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .form-control {
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}

.suggestions {
    min-width: 100%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    padding: 10px 0;
    display: none;
    overflow-y: scroll;

    > a {
        margin: 5px 10px 0;
    }

    .badge {
        margin: 5px;
        cursor: default;

        &:hover {
            color: white !important;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            text-align: left;
            padding: 3px 10px;
            white-space: nowrap;

            &:hover {
                background: #43b2d8;
                color: #fff;
                cursor: default;

                a {
                    color: white;
                }
            }
            &.no-effect:hover {
                background: none;
                color: initial;
            }
        }
    }

    p {
        padding: 10px;
        margin: -1px;
    }

    button {
        margin: 10px 20px 0 10px;
    }
}
.nav.nav-tabs button {
    background: #e0d396;
    color: #8a750d;
    border-color: #d7c468;
    &.active {
        background: white;
        color:  initial;
    }
}
.admin_images {
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 14px 10px;
    margin-top: 10px;
}

img.th_img {
    width: 100%;
    object-fit: cover;
}

.modal-content {
    .table-header {
        width: 100%;
        padding: 15px;
    }
}

.color-success {
    color: #7cb342;
}

.color-danger {
    color: #da6060;
}

td.status {
    text-align: center;
    vertical-align: middle !important;
}

.lang-label {
    font-size: 12px;
    font-style: italic;
    background: #FFF9C4;
    display: inline-block;
    padding: 1px 5px 1px 4px;
    border-radius: 2px;
    margin-top: 4px;
    border: 1px solid #ddd;
}


.dataTables_info {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.7;
}

.dataTables_paginate {
    font-size: 13px;
}

.table {

    caption {
        caption-side: initial;

        h3 {
            font-size: 20px !important;
        }
    }

}

.alert-danger {
    a {
        color: white;
        font-weight: 700;
        text-decoration: underline;
    }
}

.bg-inactive {
    background-color: #e6edf1 !important
}

#messages, .messages {
    clear: both;
    color: white !important;

    div[class^=alert] {
        padding: 8px;
        margin-bottom: 2px;

        &:last-of-type {
            margin-bottom: 10px;
        }

        &:first-of-type {
            margin-top: 10px;
        }
    }

    .alert-success {
        background-color: rgba(26, 156, 54, 0.78);
        border-color: rgb(76, 177, 98);
        color: inherit !important;
    }

    .alert-danger {
        background-color: #EA779E;
        border-color: #EA779E;
        color: inherit !important;
    }

    .alert-dismissible .close {
        right: 0;
        padding: 4px;
    }
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: rgba(233, 30, 99, 0.65);
    border-color: rgb(240, 108, 153);
    outline: none;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    outline: none;
}

#datatable-responsive_filter {
    float: right;
}

.btn-danger {
    background: rgba(224, 28, 28, 0.68);
    border: 1px solid transparent;
}

#spinner {
    display: none;
    margin: 4px;

    .fa-cog.fa-spin {
        color: #62a824;
    }
}

.hovered {
    opacity: 0;
}

.hover:hover .hovered {
    filter: alpha(opacity=1);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

}

ul.nav li.func {
    > div {
        position: relative;
        top: 19px;
        right: 0;
    }

    span {
        &.glyphicon {
            font-size: 16px
        }

        &.glyphicon-plus-sign {
            top: 0;
            color: rgb(60, 124, 61);
        }

        &.glyphicon-plus-sign:hover {
            color: rgb(65, 181, 67);
        }

        &.glyphicon-search {
            color: #888
        }

        &.glyphicon-search:hover {
            color: #fff
        }
    }
}


li.logged {
    a {
        color: #3E809D !important;

        &:hover {
            color: #60BAE2 !important;
        }

        &:first-letter {
            text-transform: lowercase !important;
        }
    }
}

i.core.spinner {
    margin: 0 -5px 0 5px;
}

.dashedBloc {
    display: block;
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    padding: 10px 0;
}

.input-holder {
    position: relative;

    .flag {
        position: absolute;
        right: 1%;
        top: 50%;
        height: 18px;
        transform: translateY(-50%);
        opacity: 0.5;
    }
}

.core-tabs span, .tabber h1 {
    border: 1px solid #ededed;
    padding: 8px;
    display: inline-block;
    margin: -1px -1px 0 0;
    cursor: pointer;

    &:hover {
        background: #e7f3ff;
    }

    &.active {
        background: #2a3f54;
        color: white;
    }

}

.core-accordeon {
    tr {
        cursor: default;
    }

    tr.bar.active {
        td {
            background-color: #2a3f54;
            color: #fff;
        }
    }

    tr.content {
        display: none;
    }
}

.datepicker {
    position: relative;
}

.datepicker i.fa-close, .timepicker i.fa-close {
    position: absolute;
    top: 10px;
    right: 20px;
}


#publicationStatus {

    label {
        &:focus,
        &:active {
            outline: none !important;
        }
    }

    .ui-visual-focus {
        box-shadow: none;
    }

    #labelOffline {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &.ui-state-active {
            background: rgba(224, 57, 114, .68) !important;
            border: 1px solid #EA3B3B !important;
        }
    }

    .ui-button {
        border-radius: 4px;
        padding: 8px;
    }

    #labelOnline {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &.ui-state-active {
            background: rgba(76, 175, 80, .55) !important;
            border: 1px solid #68C23B !important;
        }
    }

    .ui-button:active {
        border: 1px solid #c5c5c5;
        background: #f6f6f6;
        color: #454545;
    }

    .ui-checkboxradio-icon {
        display: none;
    }
}

td.langs {
    min-width: 100px;
}

.langs {
    white-space: nowrap;

    a {
        text-decoration: none;
        cursor: default;
    }

    img {
        width: 18px;
        opacity: 0.5;

        &:hover {
            width: 28px;
            opacity: 1;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
        }
    }
}

li.lang {
    padding: 0 10px;

    a {
        display: inline-block;
        opacity: 0.3;
        padding: 10px 0 0 0;

        &.active {
            opacity: 1;
        }

        &:hover {
            opacity: 1;
            background: none;
            border: none;
            outline: none;
        }
    }
}

.inline-elements {
    input[type=text], select {
        display: inline-block;
    }
}

.intbox {
    display: inline-block;
    background: #6fb3e0;
    margin: 0 auto;
    padding: 6px;
    color: white;
    min-width: 30px;
    min-height: 30px;
    text-decoration: none;
    text-align: center;
    color: white !important;

    &.inactive {
        background-color: #b9cfde;
    }

    &:hover {
        color: white;
        background: #ffb752;
        text-decoration: none;
    }
}

.inline-choices {
    display: flex;

    label {
        margin-left: 12px;
    }
}

.checkable {
    &.bg-success {
        background: #7cb342;
    }

    width: 40px;
    position: relative;

    > div {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        label {
            height: 100%;
        }

        input {
            position: absolute;
            margin: 0 !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@abstract x_title {
    color: white;
    margin: -10px -17px 10px -17px;
}

@abstract x_h2 {
    font-weight: 300;
    font-size: 22px;
    padding: 8px 10px 5px 10px;
    margin: 0;
}
@set {
    base_color: #0d2033;
}
.close {
    font-weight: 400;
    opacity: 0.6;
}


.profile_info h2 {
    display: inline;
}


.theme-aboleon {
    padding-top: 0;
    color: $(base_color);
    background-color: #f7f7f7;

    .page-link {
        color: #8f949a !important;
    }

    #modules {
        margin-left: 20px;
    }

    .page-item.active .page-link {
        background-color: var(--aboleon) !important;
        border-color: var(--aboleon);
        color: white !important;
    }

    td {
        /*
        .btn {
            float: left;
        }*/

        &.bg-success {
            background-color: #dff0d8 !important;
        }

        &.bg-danger {
            background-color: #f2dede !important;
        }

        a {
            color: $(base_color);

            &.label-danger, &.btn-success, &.btn-danger, &.btn-warning, &.btn-info {
                color: #fff !important;
            }
        }
    }

    .right_col {
        background: white !important;
    }

    .nav {
        span {
            display: inline-block;

            &::first-letter {
                text-transform: capitalize;
            }
        }

        li.header {
            background: #3f5d20;
            padding: 14px;
            color: #a5a3a3;
        }
    }

    .nav_title {
        background: #7cb342;
    }

    .top_nav .dropdown-menu li a {
        text-indent: 0;
    }

    li.as_link {
        &:hover {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }

        form {
            padding: 12px 20px;

            button {
                margin-bottom: 0;
            }

            .fa.pull-right {
                margin: 4px 0 0 0;
                font-size: 15px;
            }
        }
    }

    .nav_menu {
        background: none;
        border-bottom: none;
    }

    h1.fancy {
        display: block;
        font-size: 36px;
        padding: 0 0 15px 0;
        margin: 0;
        text-transform: capitalize;
        color: #0d2033;
    }

    .main-title {
        text-align: center;
        border-bottom: 1px solid #ccc;
        margin-top: -33px;
        margin-bottom: 10px;
    }

    .row.page-main-title {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        align-items: center;
        margin: 20px 0 10px;
        padding-bottom: 10px;

        h1 {
            display: block;
            font-size: 36px;
            margin: 0;
            text-transform: capitalize;
            color: #0d2033;
        }
    }

    .actions {
        text-align: center;
        padding-bottom: 10px;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f6faff;
    }

    th, td {
        &.caption {
            background: #ededed;
            color: #0d2033;
            font-size: 17px !important;
        }
    }

    .btn-nav {
        background: #f7f7f7;
        color: #666;
        border: 1px solid #ccc;

        i {
            margin-right: 4px;
        }

        &:hover {
            background: white;
            color: #333;
        }
    }

    .btn-success {
        background: #8BC34A;
        border: 1px solid #8BC34A;
    }

    .btn-info {
        color: white;
        background-color: #43b2d8;
        border-color: #43b2d8;
    }

    .panel-info {
        .btn-danger {
            background: #9E9E9E;
            border: 1px solid transparent;

            &:hover {
                color: #fff;
                background-color: #616161;
            }
        }

        border-color: #ededed;

        > .panel-heading {
            color: #fff;
            background-color: #ededed;
            border: 0;
            margin-top: 0px;

            span {
                margin-left: 30px;
                color: #0d2033;
                font-size: 16px;
            }
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 18px;
            color: inherit;
            background: #0d2033;
            display: inline-block;
            padding: 13px 20px;
            margin: -11px -15px -10px -16px;
            border: 1px solid #0d2033;
            border-top-left-radius: 4px;
            text-transform: uppercase;

            span {
                background: #E91E63;
                padding: 20px;
                margin-left: 23px;
                margin-right: -1px;
            }
        }
    }

}

.stages, .reminders {
    border-bottom: 1px dashed #e0d396;
    clear: both;
    padding: 20px 0;
    position: relative;
    margin-left: 50px;

    &:last-of-type {
        border-bottom: none;
    }

    > .row {
        max-width: 95%;
    }

    .btn {
        @include rounded_btn;
        position: absolute;
        right: 0;

        &:hover {
            opacity: 1;
        }

        .fa {
            margin-left: 1px;
        }

    }
}

.stages {
    .btn {
        top: 15%;
    }
}

.reminders {
    .btn {
        top: 30%;
    }
}

.iteration {
    position: absolute;
    top: 25px;
    left: -78px;
    background-color: #e5e5e5;
    font-weight: 400;
    border-radius: 50%;
    font-size: 22px !important;
    width: 50px;
    height: 49px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.app {
    position: relative;
    font-size: 15px;
    padding: 8px 24px;
    background: #e0d396;
    color: #664c27;
    transition: 200ms all ease;
    margin-left: 94px;
    box-shadow: 1px 1px 7px 1px #c4c4c4;
    font-weight: 600;

    i:before {
        font-size: 12px;
    }

    &:hover {
        background-color: #ecd779;
    }

    span.iteration {
        top: -5px;
        left: -75px;
    }
}

.alert-warning {
    background-color: #FFF9C4;
    border: 1px solid #ddd;
    color: #535454;

    a {
        color: inherit;
        text-decoration: underline;
    }
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: rgb(124, 179, 66);
    border-color: rgb(124, 179, 66);
    outline: none;
}

.flipped {
    transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
}

.form-horizontal .control-label {
    text-align: left;
}

.tab-pane {
    padding-top: 15px;
}

.language-tabs {
    margin-bottom: 20px;

    li {
        background: #eaeaea;

        &.active {
            background: white;
        }
    }
}

.app-logo {
    max-height: 30px;
}


legend {
    color: black;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 5px solid #e0d396;
    position: relative;

    span {
        padding: 0 50px;
        border-radius: 0;
        background: #e0d396;
        font-size: 20px;
        color: #613f0f;
        position: absolute;
        top: -25px;
        z-index: 9999;
        height: 81px;
        right: -30px;
        display: flex;
        align-items: center;
    }
}

fieldset > div {
    padding: 0 45px;
}

.left_col {
    background: #f5f5f5;
}

.site_title {
    height: auto !important;
    background: #fff !important;
    padding: 20px !important;
    display: block !important;
}


.fa, .fas {
    font-weight: 900;
    font-size: 16px;
}

a.site {
    background-color: #17a2b8 !important;
}


.form-label {
    font-weight: 700;
    color: black;
}

.theme-aboleon {
    background-color: #e6edf1;

    .main-title {
        margin: 25px 0 35px 23px;

        h1 {
            font-family: 'Nunito', sans-serif;
            text-align: left;
        }
    }

    .nav_title {
        background: #f5f5f5;
        text-align: center;
        height: 85px;
    }

    .nav li.header {
        background: #4c4c4c;
        color: #d8d8d8;
    }

    .right_col {
        background: #e6edf1 !important;
    }
}

.checkables {
    columns: 2;
}

footer {
    width: 100%;
    margin-left: 0;
    text-align: center;
    color: white;
    margin-top: 100px;
    background-color: #17a2b8;
    z-index: 4;
}

.form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin-top: 0;
    margin-left: -22px;
    margin-right: 9px;

    &:checked, &:hover {
        background-color: #bea526;
        border-color: #bea526;
    }
}

[type=checkbox] {
    color: #424242;
}

.main-save {
    border-top: 1px solid #eee;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;

    .btn-success {
        background: #424242;
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        font-size: 18px;
        padding: 12px 30px;
        box-shadow: 1px 1px 7px 1px #c4c4c4;

        &:hover {
            background: #5aa405;
            border-color: #5aa405;
        }
    }
}

.alert-dismissible .btn-close {
    padding: 11px;
}

.wg-card-bloc {
    border-radius: 5px;
    padding: 18px;

    .wg-card {
        margin-bottom: 30px;
        color: black;

        h4 {
            font-size: 15px;
            margin-bottom: 12px;
            font-weight: 700;
        }
    }
}

.client-dashboard {
    .wg-card-bloc {
        border-right: 7px solid #f4edcb;
    }

    table {
        th {
            white-space: nowrap;
            &:last-of-type {
                width: 13%;
            }
        }
        caption {
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            color: black;
            background: #f4edcb;
        }

        thead {
            background: #f5f4f0;
        }
        tr {
            td {
                &:first-of-type {
                    width: 15%;
                }
                &:last-of-type {
                    width: 13%;
                }
            }
        }
    }
}
.centered-title {
    text-align: center;
    font-size: 30px;
    margin: 30px 0 -20px 0;
}
